@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Bootstrap Formatting";
}

@section banner {<h3>Exploring Bootstrap to format page</h3>}

<blockquote>
    Bootstrap is a css style sheet as open source. It contains about 10,000 lines of css code.
    Using various aspects of this style sheet can allow us to quickly, via classes, block format our webpage.
    It will also allow for text alignment, setting up nicely formatted grid displays, create color buttons, banners, etc.
    Alert allows for color blocking an area plus other stuff. 4 basic colors can be obtainedby using alert-success, alert-info, alert-warning, alert-danger.
    Default block alignment is left. You can change that using text-xxxxxx where xxxxxx is left, right or center.
    <br/><br/>
    WARNING: Bootstrap is open-source third party and is subject to change. Thus items that were once available may NOT be available in the future.
    For Bootstrap, if you wish to override a class, it is best to code your own stylesheet and NOT alter the NuGet package of Bootstrap.
</blockquote>

<div class="row">
    <div class="col-md-4">
        @* requested the first 4 blocks of the row *@
        <div class="alert alert-success">
            left text content
        </div>
    </div>
    <div class="col-md-3 text-md-center text-capitalize text-dark">
        @* request the next 3 blocks of the row *@
        <div>
            center text content
        </div>
    </div>
    <div class="col-md-5 text-md-right">
        @* the last 5 blocks of the row *@
        <div class="alert alert-danger">
            right text content @@
        </div>
    </div>
</div>
<div class="row">
    <button type="submit" name="theButton" value="submit" class="btn btn-primary">Primary</button>&nbsp;&nbsp;
    <button type="submit" name="theButton" value="submit" class="btn btn-light">Light</button>&nbsp;&nbsp;
    <button type="submit" name="theButton" value="submit" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
    <button type="submit" name="theButton" value="submit" class="btn btn-outline-danger">Outline Danger</button>&nbsp;&nbsp;
</div>