@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Demo";

    //to recieve data from another page via the GetHtml() you will use Request.QueryString["label"]
    //IF the "label" does not exist as the page is retrieved then the returned value of .QueryString is null
    var incomingDataValue = Request.QueryString["cid"];
    if (string.IsNullOrEmpty(incomingDataValue))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    var db = Database.Open("NWDB");
    var productquery = @"SELECT ProductID, ProductName, UnitPrice, QuantityPerUnit, Discontinued
                        FROM Products
                        WHERE CategoryID = @0";
    var results = db.Query(productquery, incomingDataValue);

    //create an instance of the WebGrid
    //notice the collection (results) is passed at the time of instantiation
    var gridinstance = new WebGrid(results);
}

@section banner{
    <div>
        <h3>WebGrid Demo using passed data</h3>
    </div>
    <div class="row">
        @gridinstance.GetHtml();
    </div>
}
